<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div data-controller="posts">
    <%= form.label :files %>
    <%= form.file_field :files, multiple: true, direct_upload: true, 'data-posts-target' => "input" %> 
    <progress data-posts-target="bar" style="display: none;"></progress>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
